
@charset "UTF-8";
:root{
  --color:rgb(255, 255, 255);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{/*aタグ指定しないと何故か効かない*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.4px;
    line-height: 1.9rem; 
    list-style: none;
  }
  p,a{
    color:#383E45; 
    font-weight: bold;
  }
  
  li,a{
    list-style: none;
    border-bottom: none;
    text-decoration: none;  /* 下線が text-decoration の場合に備えて */
  }

  footer p{
    font-size: 10px;
  }
  /*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓reset.css*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓/

  /* Box sizing rules */
*,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, /*h2,*/
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓l-bycycle.css↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/



.l-bicycleView{
   /* max-width: 960px;
    min-height: 600px;*/
    width: auto;

    
}
.l-bicycleView__img {
    width: 100%;
    /*overflow: hidden;*/
}

.l-bicycle__cts{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 4%;
    padding-top: 60px; 
}

/* ---以下レスポンシブ----------------------------------------------*/

@media screen and (max-width: 600px) {
    .l-bicycleView__img{
        width: 100%;
        min-height: auto;
        object-fit: contain;
    }

    }  

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓layout.css↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

:root{
    --max-width: 960px;/*仕様書の指定*/
}
.l-body{
    display: block;
    width: 1280px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.l-cntr{
    margin: 0 auto;
    text-align: center;
}

.l-conts{
    max-width: var(--max-width);
    width: 100%;
    margin: 100vh auto;
    padding: 0 4%;/*仕様書の指定*/
}


.l-header {
  position: fixed;
  width: 100vw;
  margin: 0 auto;
  padding: 0 15%;
  z-index: 1000;
  isolation: isolate; 
}

/* 背景専用の透過層を作る */
.l-header::before {
  content: '';
  position: absolute;
  inset: 0; 
  background-color: rgba(0, 0, 0, 0);
  z-index: -1; /* 背景を下に */
  backdrop-filter:blur(2px);
}
/*
.l-conts {
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
}
 .l-conts.-about {
    max-width: 600px;
 }
 .l-conts.-bicycle {
    max-width: var(--max-width);
 }
*/


.l-bicycle{
    margin: 0 auto;
    padding-bottom: 15%;
    padding-left: 4%;
    padding-right: 4%;
    max-width: var(--max-width);
    /*imgとコンテンツ幅の上限。*/
}
.l-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(230px,1fr));
    column-gap: 1%;
    row-gap: 1rem;
}
.l-bicycle__box{
    /*display: flex;*/
    /*flex-wrap: wrap; */
    /*justify-content: center;*/
    
}
.c-card{
    /*flex: 1 1 auto;  */
    /*max-width: 263px;*/
    /*width: 100%;*/
    margin:0 0.5%;
    align-items: center;

}
.l-bicycle__img-wrap {
    /*width: 100%;*/
    /*align-items: center;*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
.c-card__img{
    width: 100%;
    height: auto;
    display: block;
}

.l-bicycle__ttl{
    margin-top: 0.5em;
}

.l-goBackTop{
    max-width: var(--max-width);
    margin-top: 3rem;
    margin-bottom: 10rem;
}

.l-footer{
    max-width: 1280px;
    height: 50px;
    align-items: center;
}

.l-map__ttl{
    text-align: center;
    width: 100%;
}
.l-gal{
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.l-galwp{
  height: 100vh;
  width: max-content; /* 画像の幅に合わせて */
  display: flex;
}
.l-gal image{
  height: 100vh;
  width: auto;
  display: block;
}

/* ---以下レスポンシブ----------------------------------------------*/

@media screen and (max-width: 600px) {
    .l-body{
        width: 375px;
    }

    .l-header{
        width: 100%;
        box-sizing: border-box;
    }
    .l-conts{
       padding: 0 15px;  
    }

    .c-card{
        margin-bottom: 1.5em;
        
    }
    .l-bicycle__img-wrap {
        /*max-width: 340px;*/
       /*max-width: 552px;*/
       /*overflow: hidden;*/
    }

    }

/*↓↓↓↓↓↓↓↓↓↓↓↓componennt.css↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/


:root{
  --color: white;
  --blk:#383E45;
  --sec:0.5s;
}
html{
    scroll-behavior: smooth;
}
.c-btn{
  width: 140px;
  height: 45px;
  background-color: var(--blk);
  border: none;
  border-radius: 100px;
  display: flex;
  align-items: center;
}
.c-btn > a{
  margin: 2%;
  color: var(--color);
  text-align: center;
}

.c-ttl{
    max-width: 20ch;/*ttlの下線幅を合わせるため*/
    width: fit-content;
    font-size: 45px;
    border-bottom: solid 2px;
    font-weight: bold;
    margin-bottom: 5%;
    z-index: 900;
  }
  
  
.c-ttl_pages{
    max-width: fit-content;
    margin:1rem 0;
    font-size: 21.6px;
}
.c-ttl-sm{
    font-size: 16px;
}

.c-fade-hov {
    opacity: 1;
    transition: 0.3s ease;
  }
.c-clr-bl-hov{
  background-color: var(--blk);
  color: var(--color);
  transition:  0.3s ease;
}
/*ホバーアンダーライン*/
.c-und-line {
  position: relative;
  display: inline-block; /* アンダーラインの範囲を文字列だけにする */
}

.c-und-line::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; /* アンダーラインの位置は必要に応じて調整 */
  width: 100%;
  height: 3px;/*線の太さ*/
  background: var(--blk);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
  opacity: 0.6;
}

.c-und-line:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}


/*ホバーハイライト用*/

  .hlt .c-txt,
  .hlt .c-ttl-sm ,.hlt{
    display:inline-block;
    background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size var(--sec) ease-in-out;
    
  }
 
  .hlt:hover .c-txt,
  .hlt:hover .c-ttl-sm {
    background-size: 100% 100%;
    color: var(--color);
  }

  @media(hover:hover){
    .hlt:hover .c-txt,
    .hlt:hover .c-ttl-sm {
      background-size: 100% 100%;
      color:  var(--color);
    }

    .c-fade-hov:hover {
      opacity: 0.6; 
    }
    .c-clr-bl-hov:hover{
      background-color: #383e4587;
    }

  @media screen and (max-width: 600px) {
    /*.c-card .c-txt,
    .c-card .c-ttl-sm {
      display: inline-block;
    } 
    .l-bicycle__img-wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start; /* 左寄せ */
   /* }*/
  }}

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓curtain.css↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

.c-anime_wrap, .js-ctWrap, .c-pattern{
  /*overflow: hidden;*/
}
.c-anime_wrap{
    position: relative;
}
.c-pattern{
    position: relative; 
    
}

.c-pattern::before{
    display: inline-block; 
    content: '';
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff;
    transition: 0.5s 1.5s ease;
    transition-delay: 0.3s;
    z-index: 100;
    clip-path: inset(0 0 0 0);
}

.c-pattern.is-show::before{
    transform: translateX(100%);
}

.c-pattern img{
    opacity: 0;
    transition: 1.5s ease-in-out;
    z-index: 1;
    
}
.c-pattern.is-show img{
    opacity: 1;
}

/*----------------------------------------------_*/
.c-pattern.is-show {
    opacity: 1;
    transform: translateX(0);
}

.c-pattern.is-show::before{
    transform: translateX(200%) ;
}


.c-pattern2 img{
    opacity: 0;
    transform: translateY(25px);
    transition: 1.1s ease-in-out;
}
.c-pattern2.is-show img{
    opacity: 1 ease;
    transform: translateY(0);
}
/*↓↓↓↓↓↓↓↓↓↓↓↓↓project.css↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

.p-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}

.p-header__logo{
    width: 120px;
}

.p-header__nav{
    display: flex;/*modの-d-flxが効きません*/
    z-index: 2;
    gap: 0 3em;
    font-weight: bold;
}

.p-submenu{
    z-index: 100;
    opacity: 0;
    position: absolute;
    top: 30px;
    left: -10px;
    z-index: 999;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    background-color: var(--color);
    width: auto;
    flex-direction: column;
    box-shadow: 0 0 8px gray;
    border-radius: 10px;
    white-space: nowrap;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
}
.-left{
  left: -40px;
}

.p-submenu__li{
    padding: 15px 5px;
    margin: 0 10px;
}
.p-submenu .yaji{
  transform: rotate(-90deg);
  
}

.p-prnt__submn{
    position: relative;
}
.p-prnt__submn:hover > .p-submenu {
    visibility: visible;
    opacity: 1;
 }
 .p-prnt__submn:hover  .yaji{
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
 }

 .p-topView{
    height: 100vh;
    margin: 0 auto;
    position: relative;
    /*overflow: hidden;*/
}
.p-topView__img{
    min-height: 600px;
    height: 100vh;
    width: 100vw;
    text-align: center;
    margin: 0 auto;
    object-fit: cover; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
}

.p-copy{
  position: fixed;
  width: 70%;
  max-width: 700px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  z-index: 999;
}

.p-about__img{
    /*width: 100px;*/
    max-width: 380px;
    height: auto;
    display: block;
    margin-right: 1rem;
    border-radius: 50%;
}
.p-about__card{
    max-width: var(--max-width);
    display: flex;             /* 横並びにする */
    gap: 24px;                 /* 要素間の余白 */
    justify-content: center;
    margin: 0.5rem auto;            /* 中央寄せ！！ */
    align-items: center;
}
.p-about__txt{
    max-width: 600px;/*文字折り返しのため*/
    margin: 0 auto;
    text-align: start;
}

.p-about__card_inner{
    display: flex;             /* 横並びにする */      
    justify-content: center;
    /* 中央寄せ！！ */
    align-items: center;
}
.p-bicycle__box_inner{
    /*display: flex;*/
    /*flex-wrap: wrap; */
    flex-direction: column;   
    justify-content: center;
    opacity: 1;
}
.p-scrollable-content{
    height: 100vh;
    overflow-y: auto; 
}
.p-map{
    height: 70vh;
    max-width: 960px;
    width: 100%;
    
}
.p-map-wrap{
    justify-content: center;
    align-items: center;
    margin: 0;
}
.p-form{
  width: 100%;
  text-align: start;
  gap: 25px;
}
.p-lb-waku{
  width: 300px;
  min-height: 30px;
  height: fit-content;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  padding:1em 1.5em;
}
.p-lb-card{
  margin: 0 auto;
  display: block;
  position: relative;
}
.p-textarea-wrap {
  position: relative;
  display: inline-block;
}
.p-textarea-wrap textarea {
  padding-left: 1.5em; /* 左に余白を確保（※の分） */
}
.p-required {
  position: absolute;
  top: 0.7em;
  left: 8px;
  color: red;
  pointer-events: none; /* クリック無効にしておく */
  opacity: 0.5;
}

.p-scwrap{
  width: 100%;
  overflow: hidden;
  margin: 0 auto;

}
.p-sconts{
  padding-left: 10%;
  height: 100vh;
  width: max-content;  
}
.p-scitm{
  width: 340px;
}

@media screen and (max-width: 600px) {

    .p-topView__img{
        width: auto;
    }
    .p-about__img {
        display: block;
        margin: 0 auto 1rem auto;
        
      }
    .p-about__txt{
        max-width: 340px;/*文字折り返しのため*/

    }
    
    .p-about__card_inner{
        display: block;
        margin: auto 1rem;
    }
    .p-bicycle__box_inner{
      display: ruby-text;
    } 
  
/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓contact.php↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/




/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓utility.css↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

body{
    margin: 0!important;
    padding: 0!important;
    box-sizing: border-box!important;
}
.u-txt-L{
    text-align: left!important;
}
.-flx-clm{
  display: flex;
  flex-direction: column;
}
.-h-100vh{
  height: 100vh;
}
.-d-blc{
    display: block;
}
.-d-flx{
    display: flex;
}
.-d-il{
  display: inline;
}
.-d-tbcl{
    display: table-cell;
}
.-d-ilfx{
  display: inline-flex;
}
.-flx-wp{
  flex-wrap: wrap;
}
.-gap05{
  gap: 0.5em;
}
.-m-top{
    margin-top: 1%;
}
.-m-top-5{
    margin-top: 5%;
}
.-m-lr4{
  margin-left: 4%;
  margin-right: 4%;
}
.-m-btm-80px{
    margin-bottom: 80px!important;
}
.-w-100{
    width: 100%;
}
.-b-sdw{
  box-shadow: 0 0 10px rgb(235, 235, 235);
}
.-red{
  color: red;
}
.ttf{
  text-transform: uppercase;
}
.panel {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.panel[style] .p-scrollable-content {
  height: 100vh !important;
}

@media screen and (max-width: 600px) {
    
.-left{
    left:-90px;
}

}
/*txtanm*/
/* 初期状態で下に隠す */
.c-ttl{
  overflow: hidden;
}
/* 通常状態：下に隠れてる */
.c-ttl span {
  display: inline-block;
  transform: translateY(100%);
  transition: transform 1s cubic-bezier(0.7, 0.2, 0.1, 1);
}

/* .c-ttl-anm に .is-active がついたとき上がる */
.c-ttl-anm.is-active .c-ttl span {
  transform: translateY(0);
}

}

/*SVGanimation*/

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.js .loading::before {
	content: '';
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #efeff2;
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1001;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin: -25px 0 0 -25px;
	pointer-events: none;
	border-radius: 50%;
	background: #dcdcde;
	animation: loaderAnim 0.8s ease-out infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		transform: scale3d(0.5,0.5,1);
	}
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

main {
	overflow: hidden;
}

.github {
	position: absolute;
	top: 0;
	right: 0;
	width: 6em;
	height: 6em;
}

.github__deco {
	position: absolute;
	z-index: -1;
	fill: #e6e6e6;
}

.icon--github {
	font-size: 1.15em;
	margin: 1em 0 0 2.5em;
}

/* Content */
.content {
	padding: 3em 0;
}

.content--grid {
	display: grid;
	padding: 10vh 8vw;

	grid-template-columns: 50% 50%;
}

.content--related {
	font-size: 0.85em;
	display: grid;
	justify-content: center;
	align-content: center;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 2em;
	padding: 10em 0;
	text-align: center;
	letter-spacing: 0.05em;

	grid-template-columns: repeat(auto-fill, 260px);
	grid-gap: 4em;
}

.content--related > p {
	grid-column: 1 / -1;
}




/* Related post item */
.media-item {
	display: block;
	transition: color 0.3s;
}

.media-item__img {
	max-width: 100%;
	opacity: 0.8;
	border-radius: 60px/100px;
	transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}

.media-item__title {
	font-weight: normal;
	margin: 0;
	padding: 0.5em;
}

/* items */
.item {
  /*display: flex;*/
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	grid-column: span 2;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.item:nth-of-type(even) {
	margin: 0 auto 0 0;
}

.item:first-of-type {
	grid-column: span 1;
}

.item__svg {
  overflow: visible;
	position: relative;
	width: 80%;
  max-width: 900px;
	height: 0;
	min-height: 350px;
	margin: 0 auto;
}

.item__clippath,
.item__deco,
.item__img {
	/*transform-origin: 50% 50%;*/
  overflow: visible;
}

.item__meta {
	align-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}


.item__specimen {
	font-size: 5em;
	font-weight: 500;
	line-height: 0.9;
	vertical-align: text-bottom;
	letter-spacing: -0.025em;
}

.item__reference {
	font-size: 1.25em;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
}

.item__title {
	font-size: 2.165em;
	font-weight: 600;
	width: 100%;
	
	text-align: left;
	letter-spacing: 0.125em;
	color: #333333;
}

.item__subtitle {
	line-height: 30px;
	margin: 0.5em 0 0;
	letter-spacing: 0.25em;
	opacity: 0;
}

.item__title,
.item__subtitle {
	opacity: 1;
	/*transform: translateY(50px);*/
}

/* Individual styles */
.item--style-8 .item__deco {
	fill:#515151/* #404040;*/;
}

@media screen and (max-width: 680px) {
  .item{
    display: block;
  }
}

@media screen and (max-width: 60em) {
	.item:first-of-type {
		grid-column: span 2;
	}
	.content--grid {
		grid-row-gap: 25vh;
	}
}

@media screen and (max-width: 40em) {
	.codrops-header__title {
		font-size: 1em;
	}
	.content--grid {
		padding: 2vh 8vw;
	}
	.item__number {
		font-size: 0.75em;
	}
	.item__svg {
		min-height: 360px;
	}
}
