
@charset "UTF-8";
html{
    scroll-behavior: smooth;
}


.c-ttl{
    margin-top: 3.5em;
    margin-bottom: 2em;
    max-width: fit-content;/*ttlの下線幅を合わせるため*/s
    /*中央寄せのクラスが干渉してるので、上下余白を個別指定（タイトル共通余白）*/
}
.c-ttl_pages{
    max-width: fit-content;
    margin:1rem 0;
}


.c-fade-hov {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  .c-fade-hov:hover {
    opacity: 0.6; 
  }