
@charset "UTF-8";
:root{
  --color: white;
  --sec:0.5s;
  --line-height: 1.8em; 
}
html{
    scroll-behavior: smooth;
}


.c-ttl{
    margin-top: 3.5em;
    margin-bottom: 2em;
    max-width: fit-content;/*ttlの下線幅を合わせるため*/
    /*中央寄せのクラスが干渉してるので、上下余白を個別指定（タイトル共通余白）*/
    font-size: 32px;
    border-bottom: solid 1px;
  }
.c-ttl_pages{
    max-width: fit-content;
    margin:1rem 0;
    font-size: 21.6px;
    line-height: var(--line-height); 
}
.c-ttl-sm{
    font-size: 16px;
    line-height: var(--line-height); 
}

.c-fade-hov {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
/*ホバーハイライト用*/
  .l-bicycle__card .c-txt,
  .l-bicycle__card .c-ttl-sm {
    display:inline-block;
    background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size var(--sec) ease-in-out;
    
  }
  
  .l-bicycle__card:hover .c-txt,
  .l-bicycle__card:hover .c-ttl-sm {
    background-size: 100% 100%;
    color: var(--color);
  }

  @media(hover:hover){
    .l-bicycle__card:hover .c-txt,
    .l-bicycle__card:hover .c-ttl-sm {
      background-size: 100% 100%;
      color:  var(--color);
    }

    .c-fade-hov:hover {
      opacity: 0.6; 
    }
  

  @media screen and (max-width: 600px) {
    .l-bicycle__card .c-txt,
    .l-bicycle__card .c-ttl-sm {
      display: inline-block;
    } 
    .l-bicycle__img-wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start; /* 左寄せ */
    }
  }