
@charset "UTF-8";
.c-anime_wrap{
    position: relative;
    overflow: hidden;
}
.c-pattern{
    position: relative; 
    overflow: hidden;
}

.c-pattern::before{
    display: inline-block; 
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff;
    transition: 0.5s 1.5s ease;
    transition-delay: 0.3s;
    z-index: 100;
}

.c-pattern.is-show::before{
    transform: translateX(100%);
}

.c-pattern img{
    opacity: 0;
    transition: 1.5s ease-in-out;
    z-index: 1;
}
.c-pattern.is-show img{
    opacity: 1;
}

/*----------------------------------------------_*/
.c-pattern.is-show {
    opacity: 1;
    transform: translateX(0);
}

.c-pattern.is-show::before{
    transform: translateX(120%) ;
}


.c-pattern2 img{
    opacity: 0;
    transform: translateY(25px);
    transition: 1.1s ease-in-out;
}
.c-pattern2.is-show img{
    opacity: 1 ease;
    transform: translateY(0);
}
