@charset "UTF-8";

.l-bicycleView{
   /* max-width: 960px;
    min-height: 600px;*/
    width: auto;

    
}
.l-bicycleView__img {
    width: 100%;
    overflow: hidden;
}

.l-bicycle__cts{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 4%;
}

/* ---以下レスポンシブ----------------------------------------------*/

@media screen and (max-width: 600px) {
    .l-bicycleView__img{
        width: 100%;
        min-height: auto;
        object-fit: contain;
    }

    }