@charset "UTF-8";
:root{
    --max-width: 960px;
}

.l-body{
    display: block;
    width: 1280px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.l-cntr{

    margin: 0 auto;
    text-align: center;
}

.l-cts{
    max-width: var(--max-width);
    width: 100%;
    margin: 10% auto;
    padding: 0 4%;/*仕様書の指定*/
}
.l-header{
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 4%;
}
/*
.l-conts {
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
}
 .l-conts.-about {
    max-width: 600px;
 }
 .l-conts.-bicycle {
    max-width: var(--max-width);
 }
*/
.l-topView{
    height: 95vh;
    margin: 0 auto;
    overflow: hidden;
}
.l-topView__img{
    min-height: 600px;
    height: 95vh;
    width: auto;
    object-fit: cover;
    
}

.l-about__img{
    width: 100px;
    height: auto;
    display: block;
    margin-right: 1rem;
    border-radius: 50%;
}
.l-about__card{
    max-width: var(--max-width);
    display: flex;             /* 横並びにする */
    gap: 24px;                 /* 要素間の余白 */
    justify-content: center;
    margin: 0.5rem auto;            /* 中央寄せ！！ */
    align-items: center;
}
.l-about__txt{
    max-width: 400px;/*文字折り返しのため*/
    margin: 0 auto;
}
.l-bicycle{
    margin: 0 auto;
    padding-bottom: 15%;
    padding-left: 4%;
    padding-right: 4%;
    max-width: var(--max-width);
    /*imgとコンテンツ幅の上限。*/
}
.l-bicycle__box{
    display: flex;
    /*flex-wrap: wrap; */
    justify-content: center;
}
.l-bicycle__card{
    flex: 1 1 auto;  
    /*max-width: 263px;*/
    width: 100%;
    margin:0 0.5%;
    align-items: center;
}
.l-bicycle__img-wrap {
    width: 100%;
    align-items: center;
    margin: 0 auto;
  }
.l-bicycle__card__img{
    width: 100%;
    height: auto;
    display: block;
}

.l-bicycle__ttl{
    margin-top: 0.5em;
}

.l-goBackTop{
    max-width: var(--max-width);
    margin-top: 3rem;
    margin-bottom: 10rem;
}

.l-footer{
    max-width: 1280px;
    height: 50px;
    align-items: center;
}


/* ---以下レスポンシブ----------------------------------------------*/

@media screen and (max-width: 600px) {
    .l-body{
        width: 375px;
    }

    .l-header{
        width: 100%;
        padding: 0 4%; 
        box-sizing: border-box;
    }
 
    .l-about__img {
        display: block;
        margin: 0 auto 1rem auto;
        
      }
      .l-about__txt{
        max-width: 340px;/*文字折り返しのため*/
    }

    .l-bicycle__card{
        margin-bottom: 1.5em;
        
    }
    .l-bicycle__img-wrap {
        max-width: 340px;
    }

    }