@charset "UTF-8";

.p-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
  }

  .p-header__logo{
    width: 120px;
}

.p-header__nav{
    width: auto;
    display: flex;
}

.p-header__nav>li{
    margin-right: 2em;

}
.p-about__card_inner{
    display: flex;             /* 横並びにする */      
    justify-content: center;
    /* 中央寄せ！！ */
    align-items: center;
}
.p-bicycle__box_inner{
    display: flex;
    /*flex-wrap: wrap; */
    justify-content: center;
}



@media screen and (max-width: 600px) {
    .p-topView__img{
        width: auto;
    }
    .p-about__card_inner{
        display: block;
        margin: auto 1rem;
    }

    .p-bicycle__box_inner{
        flex-direction: column;   
    }
}