
@charset "UTF-8";
body{
    margin: 0!important;
    padding: 0!important;
    box-sizing: border-box!important;
}
.u-txt-L{
    text-align: left!important;
}

@media screen and (max-width: 600px) {
    

}
