
@charset "UTF-8";
body{
    margin: 0!important;
    padding: 0!important;
    box-sizing: border-box!important;
}
.u-txt-L{
    text-align: left!important;
}

.js-zoom-scroll {
    display: block;
    transition: transform 0.3s ease-out;
    will-change: transform;
  }
@media screen and (max-width: 600px) {
    

}
